<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<title>AngularJS Sesion 13</title>
</head>
<body>
    <div ng-app="MyApp" ng-controller="desarrolloController">
        <form>
          <label for="laDistanciaRecorrida">Distancia en KM:</label><br>
          <input type="number" ng-model="laDistanciaRecorrida"><br>
          <button type="button" ng-click="calculoPago()">Calcular pago</button>
        </form> 
        <p>El pago de la factura es: S/. {{pago}} soles</p>
      </div>
<script src="./js/index.js"></script>
</body>
</html>